/* Use your own code or past solution for Great Idea Web Page CSS here! */

*{
    max-width: 100%;
    box-sizing: border;
}

header{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:140px;
    padding:20px;
}

header a{
    text-decoration: none;
}

.logo{
    margin-bottom: 50px; 
    background-size:100px;
    transition: .3s;
    height: 100%;
}

.logo:hover{
    transform:translate(10px);
}

nav{
    display:flex;
    width: 70%;
    justify-content:space-around;
    margin-right:115px;
    margin-top:20px;
    width: 82%;
    border: 1px solid;
}

.nav1{
    display:flex;
    width: 100%;
    justify-content:space-around;
}

nav a{
    margin-top:10px;
    transition: .3s;
    color:#a9a9a9;
}

nav a:hover{
    transform:translateY(10px);
}

.top-text{
    display:flex;
    justify-content: center; 
    border: 1px solid black;
    margin-left:155px;
    width: 82%;
}

.top-text p{
    text-align: center;
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    margin-right: 200px;
    margin-top:60px;
    font-size: 4.5rem;
}

.bottom-img{
    width:100%
}

.middle-text{
    width: 100%;
    width:1200px;
    margin-left:150px;
    margin-top: 100px;
    margin-right:150px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border: 1px solid;
}

.button{
    width:100%;
    margin-top:300px;
    margin-right: 500px;
}

.top-middle{
    display: flex;
    width:60%;
}

.bottom-text{
    display:flex;
}
 
.bottom-img{
    margin-left: 100px;
    width:100%;
}

.top-middle p{
    display: flex;
    width:80%;    
}

body{
    border: 1px solid;
    margin-left: 200px;
    margin-right: 200px;
}