/* Use your own code or past solution for Great Idea Web Page CSS here! */

*{
    max-width: 100%;
    box-sizing: border;
}

header{
    display:flex;
    justify-content: space-between;
    width:100%;
    height:140px;
    padding:20px;
}

header a{
    text-decoration: none;
}

.logo{
    margin-bottom: 50px; 
    background-size:100px;
    transition: .3s;
    height: 100%;
}

.logo:hover{
    transform:translate(10px);
}

nav{
    display:flex;
    width: 65.5%;
    justify-content:space-around;
    margin-right:203px;
    margin-top:20px;
}

.nav1{
    display:flex;
    width: 100%;
    justify-content:space-around;
}

nav a{
    margin-top:10px;
    transition: .3s;
    color:#a9a9a9;
}

nav a:hover{
    transform:translateY(10px);
}

.top-text{
    display:flex;
    justify-content: center; 
    margin-left:255px;
    width: 65.5%;
    position: relative;
    margin-right: 00px;
}

.top-text p{
    text-align: center;
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    margin-right: 100px;
    margin-top: 60px;
    font-size: 4.5rem;
}

.middle-text{
    width: 65.5%;
    margin-left:255px;
    margin-top: 100px;
    margin-right:200px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding-left: 10px;
    border: 1px solid;
}

.top-middle{
    display: flex;
	justify-content: space-between;
    margin-top:40px;
}

.bottom-text{
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    margin-bottom:35px;
    margin-top:50px;
}

body{
    display: block;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 470px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.bottom-img{
    /* max-width: 100%; */
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    align-items: center;
    margin-left:60px;

}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

footer{
    margin-left:255px;
}

.top-middle h4 {
    position: sticky;
    margin-top:-10px;
}

.bottom-text h4 {
    position: sticky;
    margin-top:-10px;
}

.paragraph-class{
    display:flex;
    flex-direction: row;
}